body {
    background-color: #ffae00;
    font-size: 25px;
    font-family: sans-serif;
    text-align: left;
    line-height: 1.3;
    word-spacing: 1px;
}

span {
    font-weight: bold;

}

.buttonbold {
    font-weight: bold;
}

.black {
    background-color: black;
    color: white;
}

option {
    font-size: 15px;
}