body {
    background-color: beige;
    font-family: sans-serif;
}
    .forecast {
        height: 530px;
        width: 366px;
    }

        .for-top {
            height: 320px;
            width: 100%;
            background-image: url(Photo.png);
            border-top-left-radius: 5%;
            border-top-right-radius: 5%;
        }
            

            .temp {
                color: #fff;
                font-weight: bold;
                font-size: 130px;
                position: relative;
                padding: 90px 0 0 100px;
                line-height: 130px;
            }
            
            .for-top span {
                font-weight: normal;
            }

            .cloudy {
                color: #fff;
                font-size: 20px;
                padding: 0 0 0 120px;
            }

            .cloudy img {
                height: 40px;
                width: 50px;
                position: relative;
                box-sizing: border-box;
            }

        .for-bottom {
            height: 210px;
            width: 100%;
            background-color: #242424;
            border-bottom-left-radius: 5%;
            border-bottom-right-radius: 5%;
        }

            .for-bottom p {
                font-family: sans-serif;
                color: #fff;
                padding: 16px 0 0 50px;
                font-weight: bold;
                font-size: 16px;
            }

           .dates {
               color: #2e4846;
           } 

           .temps {
               color: #edec93;
               float: right;
               padding-right: 20px;
           }