.calendar {
    width: 580px;
    height: 478px;
    background-color: #1a1d28;
    border-radius: 10px;
    display: flex;
    overflow: hidden;
}

    .cal-left {
        width: 246px;
        height: 100%;
        background-color: #61697f;
        background-image: url(Layer\ 26.png);
    }

    .cal-right {
        width: 334px;
        height: 100%;
    }

        .cal-title {
            display: flex;
            flex-direction: row;
        }

            .cal-title .year {
                font-size: 24px;
                padding: 38px 0 0 38px;
                font-weight: bold;
                color: white;
                line-height: 24px;
            }

            .cal-title button {
                width: 22px;
                height: 18px;
                border: none;
                outline: none;
                background-color: transparent;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-end;
                margin: 38px 0 0 92px;
            }

            .cal-title button span {
                width: 22px;
                display: block;
                height: 2px;
                background-color: white;
            }

            .cal-title button span.l2 {
                width: 14px;
            }

            .cal-title button span.l3{
                width: 19px;
            }

    .cal-date {
        font-size: 30px;
        line-height: 40px;
        color: white;
        padding: 138px 0 0 38px;
    }

    .cal-date span {
        font-size: 24px;
        display: block;
    }

    .cal-cta {
        padding: 130px 0 0 38px;
    }

        .cal-cta button {
            background-color: lime;
            width: 100px;
            height: 32px;
            border-radius: 2px;
            border: none;
            outline: none;
            color: white;
            font-weight: bold;
            font-size: 14px;
            line-height: 18px;
            text-align: center;
        }

    .cal-days {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 80%;
        margin: 42px auto;
    }

        .cal-days span {
            font-size: 16px;
            line-height: 44px;
            color: white;
            font-weight: bold;
            text-transform: uppercase;
        }

    .cal-dates {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 80%;
        margin: 0 auto 42px auto;
        flex-wrap: wrap;
        text-align: center;
    }

        .cal-dates span {
            display: block;
            width: 20px;
            text-align: right;
            /* line-height: 44px; */
            color: white;
            font-weight: bold;
            padding: 10px;
            box-sizing: border-box;
        }

        .cal-dates .non-current {
            color: darkslategrey;
        }

        .circle {
            border: 3px solid lime;
            border-radius: 50%;
            height: 40px;
            
        }
